body {
	background-color:#fff;
	padding-top:10px;
}

a,a:hover,a:focus {
	color:#466c3b;
}

header.header {

}

.container.home .spec {
	margin-top:40px;
}

.container.home #keySelectWrapper {
	text-align:center;
	position:relative;
	left:170px;
	top:70px;
}

#chordSelect li, #keySelect li {
	font-size:40px;
	color:white;
	line-height:40px;
	text-shadow:
		-1px -1px 0 #555,
		1px -1px 0 #555,
		-1px 1px 0 #555,
		1px 1px 0 #555;
}
#chordSelect li a, #keySelect li a {
	color:#fff;
	text-shadow:
		-1px -1px 0 #555,
		1px -1px 0 #555,
		-1px 1px 0 #555,
		1px 1px 0 #555;
}
#chordSelect li a:hover, #keySelect li a:hover {
	text-decoration:none;
}

.container.home #resultsNotes {
	width:100%;
	text-align:center;
	padding-top:30px;
}

.container.home .note {
	display:inline;
	font-size:50px;
	padding:20px;
}

#keySelectButton, #chordSelectButton {
	font-size:40px;
	padding:20px;
	border-radius: 15px 15px 15px 15px;
}

#piano {
	text-align:center;
}
#pianoWrapper {
	text-align:center;
	float:left;

}
#guitarWrapper {
	text-align:center;
	float:left;

}
#results {
	width:100%;
}

.container.home #chordSelectWrapper {
	text-align:center;
	position:relative;
	top:70px;
}

.container.home select {
	font-size:30px;
	height:50px;
}

.container.home .spec a.btn {
	font-size:30px;
	padding:10px;
	border-radius: 40px 40px 40px;
}

.dataTables_paginate {
	float:right;
}
.dataTables_paginate a {
	padding:10px;
	font-size:20px;
	cursor:pointer;
}
.dataTables_paginate .paging_two_button {
	padding:5px;
}

.navbar .brand img {
	height:17px;
	margin:0px;
	padding:0px;
	margin-right:10px;
	margin-bottom:4px;
}

#free .highlight {
	background-color:#ffd593;
}

.container {
	min-width:506px;
}

#headerNav li {
	list-style:none;
	background:#fff;
}


.container.home li {
	list-style:none;
}

.container.home .graybar {
	background-color:#ddd;
	text-align:center;
	margin:10px;
	margin-left:30px;
}

.container.main {
	background-color:#fff;

}

.subfooter {
	margin-top:60px;
	color:white;
	width:100%;
}

.footer {
	background-color:#000;
	color:white;
	width:100%;
}

.subfooter *, .footer * {
	font-size:12px;
}


header .logo a {
	font-size:50px;
	font-family:"Telex";
}
header .logo a:hover {
	text-decoration:none;
}

#headerNav {
	margin-bottom:0px;
	margin-top:8px;
}


[data-note="A"] {
	background-color: #ff0000;
}
[data-note="A#"] {
	background-color: #ff8000;
}
[data-note="B"] {
	background-color: #ffff00;
}
[data-note="C"] {
	background-color: #80ff00;
}
[data-note="C#"] {
	background-color: #00ff00;
}
[data-note="D"] {
	background-color: #00ff80;
}
[data-note="D#"] {
	background-color: #00ffff;
}
[data-note="E"] {
	background-color: #0080ff;
}
[data-note="F"] {
	background-color: #0000ff;
}
[data-note="F#"] {
	background-color: #8000ff;
}
[data-note="G"] {
	background-color: #ff00ff;
}
[data-note="G#"] {
	background-color: #ff0080;
}


/*** Color Specific ****/

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
	 background-color: #466c3b;
}

h1, h2, h3, h4, h5, h6 {
	color:#466c3b;
}
.subfooter h1, .subfooter h2, .subfooter h3, .subfooter h4, .subfooter h5, .subfooter h6, .subfooter a, .subfooter a:hover {
	color:#84eb62;
}

.subfooter {
	background-color:#466c3b;
}

header {
	border-bottom:2px solid #466c35;
}

.btn-primary,.btn-primary:hover, .btn-primary:focus {
    background-color: #466c3b;
    background-image: linear-gradient(to bottom, #466c3b, #5e8653);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.piano-key.down {
	background-color: #ccf2c9 !important;
}
.piano-ebony.piano-key.down {
	background-color: #688e65 !important;
}

.piano-key.base {
	background-color: #e5e9e4 !important;
}

.piano-ebony.piano-key.base {
	background-color: #677965 !important;
}

.piano-key.base.down {
	background-color: #b4f0af !important;
}
.piano-ebony.piano-key.base.down {
	background-color: #6aa664 !important;
}